<div class="content" style="max-width: 400px;border-bottom: 2px solid red;">

<h1><%= item.title %></h1>  
<img src="/images/large-pictures/<%= item.src %>" alt="<%= item.alt %>" />
<p><strong>Short Info</strong>: <%- item.shortinfo %></p>
<hr />  
<p><strong>Info</strong>: <%- item.info %></p>
</div>